.comment-card{
    padding: 8px 0;
    border-bottom: 1px rgba(0,0,0,0.1) solid;
}

.comment-row{
    margin: 0;
}

.comment-row-text{
    margin: 0 16px 0;
}

.comment-date{
    color: #ADADAD;
    font-size: small;
}